<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Weather Server</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #7ca6d0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh; 
            color: #333; 
        }

        h1 {
            margin-bottom: 20px;
            font-size: 2.5em;
            text-align: center;
            color: #2c3e50;
        }

        button, select {
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button {
            background-color: #3498db;
            color: white;
        }

        button:hover {
            background-color: #2980b9;
        }

        select {
            background-color: #ecf0f1;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container {
            text-align: center;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        @media (max-width: 600px) {
            h1 {
                font-size: 2em;
            }

            button, select {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Weather Information</h1>
        <form action="/current-weather" method="GET">
            <select name="city" required>
                {{#each cities}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button type="submit">Get Current Weather</button>
        </form>

        <form action="/past-weather" method="GET">
            <select name="city" required>
                {{#each cities}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button type="submit">Get Past 10 Days Weather</button>
        </form>
    </div>
</body>
</html>
